<!--
title: About support
description: If you need some help, this gives some insights
published: true
date: 2021-12-19T14:24:20.775Z
tags: support, meta
editor: ckeditor
dateCreated: 2021-04-12T19:37:38.547Z
-->

<p>If you are lost and want to get some help, read these:</p>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/finding-solutions">How to search for solutions the right way</a></li>
  <li><a href="https://wiki.garudalinux.org/en/reporting-bugs">Reporting bugs</a></li>
  <li><a href="https://forum.garudalinux.org/t/how-to-write-a-nicely-formatted-post-in-discourse-forum/4814">How to write a nicely formatted post in Discource/Forum</a></li>
  <li><a href="https://wiki.garudalinux.org/en/why-not-discord">Why no Discord?</a></li>
  <li><a href="https://wiki.garudalinux.org/en/why-no-grub-customizer">Why no GRUB customizer?</a></li>
</ul>
