<!--
title: Garuda in comparison to other popular distributions
description: How does Garuda compare to Ubuntu and Manjaro?
published: true
date: 2024-08-06T13:52:54.834Z
tags: garuda, comparison, ubuntu, manjaro
editor: ckeditor
dateCreated: 2020-11-07T12:47:41.572Z
-->

<p>To decide if Garuda is a good choice, it might be good to see how it compares to other well known distributions!</p>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>&nbsp;</td>
        <td>Garuda Linux</td>
        <td>Manjaro Linux</td>
        <td>Ubuntu</td>
      </tr>
      <tr>
        <td>Package management</td>
        <td>Pacman &amp; Octopi</td>
        <td>Pacman &amp; Pamac</td>
        <td>APT</td>
      </tr>
      <tr>
        <td>Repository</td>
        <td>Arch Repos + Chaotic AUR (precompiled) + AUR (need to compile)</td>
        <td>Manjaro Repos (Arch + a bit of testing) + AUR (need to compile)</td>
        <td>Ubuntu repos, missing well known software</td>
      </tr>
      <tr>
        <td>Software</td>
        <td>Most known software available by default (precompiled)</td>
        <td>Many software installable via AUR (need to compile)</td>
        <td>Software available via PPA (many different sources)</td>
      </tr>
      <tr>
        <td>Software versions</td>
        <td>Always the latest</td>
        <td>New versions often a few weeks delayed</td>
        <td>Well tested software but not the latest</td>
      </tr>
      <tr>
        <td>Target audience</td>
        <td>People who want a good out of the box experience with an opiniated set of applications and settings</td>
        <td>&nbsp;</td>
        <td>People who want a stable environment with little changes - possible only due to freezing repos &amp; reinstallation for new releases&nbsp;</td>
      </tr>
      <tr>
        <td>Installation</td>
        <td>Calamares offline installer&nbsp;</td>
        <td>&nbsp;Calamares offline installer</td>
        <td>&nbsp;Ubuntu installer</td>
      </tr>
      <tr>
        <td>Desktop environments</td>
        <td>KDE, Xfce, GNOME, Cinnamon, i3wm, Sway, and Hyprland.</td>
        <td>&nbsp;KDE, Xfce, GNOME, Cinnamon, i3wm, and Sway.</td>
        <td>&nbsp;GNOME - Additional DEs available as different distributions, eg. Kubuntu</td>
      </tr>
    </tbody>
  </table>
</figure>
