<!--
title: Welcome
description: Basic guide and instructions for Garuda Linux
published: true
date: 2023-02-18T18:54:35.722Z
tags: home, index
editor: ckeditor
dateCreated: 2020-09-17T14:13:35.515Z
-->

<p><strong>Welcome to the Garuda Linux wiki! </strong>👋🏻</p>
<p>This is an addition to the <a href="https://wiki.archlinux.org"><strong>Arch wiki</strong></a> with Garuda-specific information and workflows. Likewise, every topic missing in this repo can most likely be found in the Arch wiki - links to such articles are present on most pages 😊</p>
<figure class="image image-style-align-right"><img src="/screenshots/garuda-welcome.png"></figure>
<p>&nbsp;</p>
<h5>P R E - I N S T A L L A T I O N</h5>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/system-requirements"><strong>Garuda Linux system requirements</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/garuda-in-comparison"><strong>Garuda Linux in comparison to other popular distributions</strong></a></li>
</ul>
<p>&nbsp;</p>
<h5>I N S T A L L A T I O N / S E T U P</h5>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/meta-installation"><strong>Installation</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/first-steps"><strong>First steps</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/meta-customization"><strong>Customization</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/meta-cheatsheets"><strong>Cheat sheets / keybindings</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/gaming-on-garuda"><strong>Gaming on Garuda Linux</strong></a></li>
</ul>
<p>&nbsp;</p>
<h5>S Y S T E M &nbsp;M A I N T E N A N C E</h5>
<ul>
  <li><a href="https://wiki.garudalinux.org/en/restoring-snapshots"><strong>Snapshot restoration</strong></a></li>
  <li><a href="https://forum.garudalinux.org/t/computer-doesn-t-boot-boots-to-a-black-screen-or-stops-at-a-message/2953?u=waterfeelix"><strong>Boot troubleshooting</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/partial-upgrade"><strong>Partial upgrades</strong></a></li>
  <li><a href="https://wiki.garudalinux.org/en/about-support"><strong>About support</strong></a></li>
</ul>
<p>&nbsp;</p>
<h5>C O M M U N I T Y &nbsp;G U I D E S</h5>
<ul>
  <li><a href="https://forum.garudalinux.org/c/faq-and-tutorials/36"><strong>The forum “FAQ &amp; tutorials” category</strong></a></li>
  <li><strong>Setting up </strong><a href="https://forum.garudalinux.org/t/ultimate-guide-to-install-waydroid-in-any-arch-based-distro-especially-garuda/15902"><strong>Waydroid</strong></a></li>
  <li><a href="https://forum.garudalinux.org/t/the-ultimate-guide-to-install-epic-games-gta-5-using-heroic-launcher-in-any-linux-distro/7150"><strong>Installing GTA 5 using Heroic launcher</strong></a></li>
  <li><a href="https://forum.garudalinux.org/t/guide-security-how-to-use-octopi-with-root-password/13307"><strong>Using Octopi with root password</strong></a></li>
</ul>
