<!--
title: Customizations
description: Customize it until you die
published: true
date: 2022-04-17T19:34:17.085Z
tags: customization
editor: ckeditor
dateCreated: 2021-04-12T19:04:31.601Z
-->

<p>Here is a list of recommended customizations for Garuda:</p>
<ul>
  <li><a href="/en/how-to-flatpak">Using Flatpaks</a></li>
  <li><a href="https://wiki.garudalinux.org/en/conky-garuda-lite">Enabling Conky</a></li>
  <li><a href="https://wiki.garudalinux.org/en/removing-bloat">Removing bloatware</a></li>
  <li><a href="https://wiki.garudalinux.org/en/tap-to-click">Enabling tap to click in touchpad</a></li>
  <li><a href="https://wiki.garudalinux.org/en/dr460nized-multi-monitor">Multi monitor Latte docks/top bar</a></li>
  <li><a href="https://forum.garudalinux.org/t/guide-configuring-garuda-linux-for-laptop/7685">Unofficial guide on configuring Garuda Linux for a laptop</a></li>
  <li><a href="https://wiki.garudalinux.org/en/multitouch-touchpad-trackpad-gestures">Guide For Setting Up Multitouch Touchpad / Trackpad Gestures With fusuma</a></li>
</ul>
