<!--
title: System requirements & notes
description: Telling you what specs are required & some more useful information
published: true
date: 2024-01-10T23:21:30.798Z
tags: system, requirements, note, notes
editor: ckeditor
dateCreated: 2020-10-03T11:26:20.735Z
-->

<p style="text-align:justify;">The hardware requirements might seem high at first but this is mostly due to <a href="https://calamares.io/about/"><strong>Calamares</strong></a> taking a lot of RAM during installation and some other performance-enhancing <a href="https://forum.garudalinux.org/t/how-does-the-distro-exactly-improve-performance/1454/2?u=dr460nf1r3"><strong>applications used</strong></a>. For <strong>window managers</strong>, the actually needed <strong>specs are lower</strong> than <a href="https://wiki.archlinux.org/title/KDE"><strong>KDE</strong></a> requirements. <strong>A thumbdrive of 4 GB is needed for regular versions</strong> while the <strong>gaming edition needs 8GB</strong> space.</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Requirements (dr460nized)</h2>
<ul>
  <li style="text-align:justify;"><strong>MINIMUM</strong>
    <ul>
      <li style="text-align:justify;"><strong>30 GB </strong>Disk Storage</li>
      <li style="text-align:justify;"><strong>4 GB</strong> RAMthumb drive</li>
    </ul>
  </li>
  <li style="text-align:justify;"><strong>RECOMMENDED</strong>
    <ul>
      <li style="text-align:justify;"><strong>40 GB</strong> Disk Storage</li>
      <li style="text-align:justify;"><strong>8 GB</strong> RAM</li>
    </ul>
  </li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Important notes</h2>
<ul>
  <li style="text-align:justify;"><strong>We don't recommend running Garuda Linux in virtual machines</strong> as it is optimized to run on real hardware. Some things also refuse to run in Virtualbox such as <a href="https://wiki.archlinux.org/title/picom"><strong>Picom</strong></a> or <a href="https://github.com/alacritty/alacritty">Alacritty</a> without proper configuration. Likewise, <strong>we won't provide support</strong> for this use case ⚠️</li>
  <li style="text-align:justify;">If you are planning to dual-boot<strong> with Windows </strong>(uh) - read this <a href="https://wiki.archlinux.org/index.php/Dual_boot_with_Windows"><strong>Arch wiki article</strong></a> first as it answers most questions you might have! It's certainly possible but Windows might overwrite Garuda's bootloader (<a href="https://wiki.archlinux.org/title/GRUB"><strong>GRUB</strong></a>) which makes repairing the bootloader needed. <strong>Don't </strong>dual-boot<strong> if you are not capable of doing this yourself </strong>⚠️</li>
  <li style="text-align:justify;">The idle RAM usage will most likely be higher than on other distributions as we use <strong>ZRAM</strong> and some other tweaks to enhance the general system performance. <a href="https://www.linuxatemyram.com/"><strong>Unused RAM is wasted RAM</strong></a>, it's as easy as that!</li>
  <li style="text-align:justify;">To burn the iso to your thumb drive, use <a href="https://www.ventoy.net/"><strong>Ventoy</strong></a>, <a href="https://github.com/pop-os/popsicle"><strong>Popsicle</strong></a>, <a href="https://wiki.archlinux.org/title/USB_flash_installation_medium#Using_basic_command_line_utilities"><strong>command line tools like dd</strong></a>, or any other reliable disk flashing utility.</li>
  <li style="text-align:justify;">Don't try to use <strong>Wayland</strong> (<strong>Wayfire</strong> and <strong>Sway</strong>) if running an <strong>NVIDIA</strong> GPU (<a href="https://piped.kavin.rocks/watch?v=_36yNWw_07g">we all know what Linus said</a>) ⚠️</li>
  <li style="text-align:justify;">For old <strong>NVIDIA</strong> graphics cards use <strong>nvidia-390xx</strong> as the video driver</li>
</ul>
<p>&nbsp;</p>
