<!--
title: Why we will not use Discord as our support channel
description: Never ever. Rawr.
published: true
date: 2022-03-02T14:53:31.988Z
tags: discord, support
editor: ckeditor
dateCreated: 2021-04-04T19:22:00.916Z
-->

<p style="text-align:justify;">Discord is proprietary, bloated and insecure. Yeah, it's convenient, and it's settings are robust, but our users and developers don't want to be hacked. Recently Microsoft talked about acquiring Discord, and we don't like anything about that company either. Also, for technical difficulties the convenience of the forum outweighs possible benefits of voice chat, thanks to categorization and deeper search functions overall. Another reason is our support layer is too thin to be spread on other platforms and we don't want our support to be mentally dead after infinitely checking all of the possible support routes on the Internet. Even if somebody were to create a voice channel for Garuda it will not be our official support channel, but instead just a fun place to hang out.</p>
<p style="text-align:justify;">All that being said, we recently added a Discord to our social chat, which is bridged into Matrix and all of our other social chat presences. However, this is solely meant to connect Discord users to our social chat and doesn't serve as support channel 🙂</p>
