<!--
title: Diğer popüler dağıtımlarla karşılaştırıldığında Garuda
description: Garuda, Ubuntu ve Manjaro'nun karşılaştırılması
published: true
date: 2022-02-18T15:31:37.500Z
tags: 
editor: code
dateCreated: 2022-02-18T15:31:12.996Z
-->

<p>Garuda'nın iyi bir seçim olup olmadığına karar vermek için diğer dağıtımlar karşısında nasıl durduğunu görmek iyi olabilir.</p>

<table>
  <tr>
  	<td></td>
    <td>Garuda Linux</td>
    <td>Manjaro</td>
    <td>Ubuntu</td>
  </tr>
  <tr>
  	<td>Paket yönetimi</td>
    <td>Pacman ve Octopi</td>
    <td>Pacman ve Pamac</td>
    <td>APT</td>
  </tr>
  <tr>
  	<td>Depo</td>
    <td>Arch Linux depoları + Chaotic AUR (önceden derlenmiş) + AUR (derlenmesi gerekiyor)</td>
    <td>Manjaro Depoları (Arch + biraz test sürümleri) + AUR (derlenmesi gereiyor)</td>
    <td>Ubuntu depoları, iyi bilinen yazılımlar yok</td>
  </tr>
  <tr>
  	<td>Yazılım</td>
    <td>Bilinen çoğu yazılım varsayılan olarak mevcut (önceden derlenmiş)</td>
    <td>Çok sayıda yazılım AUR üzerinden kurulabilir (derlenmesi gerekiyor)</td>
    <td>Yazılım PPA (Kişisel Paket Arşivi) yoluyla mevcut (çok sayıda farklı kaynak)</td>
  </tr>
  <tr>
  	<td>Yazılım sürümleri</td>
    <td>Her zaman en son sürüm</td>
    <td>Yeni sürümler sıklıkla birkaç hafta geç yayınlarnır</td>
    <td>İyi test edilmiş yazılımlar ama son sürüm değil</td>
  </tr>
  <tr>
  	<td>Hedef kitle</td>
    <td>En baştan itibaren iyi bir deneyim isteyenler - iyi uygulamalar ve ayarlar ile birlikte</td>
    <td></td>
    <td>Ufak değişikliklerin olduğu daha kararlı bir ortam isteyenler - sadece depoların dondurulması ve yeni sürümler için yeniden kurulum yapılması nedeniyle mümkün</td>
  </tr>
  <tr>
  	<td>Kurulum</td>
    <td>Çevrimdışı Calamares kurulum ortamı</td>
    <td>Çevrimdışı Calamares kurulum ortamı</td>
    <td>Ubuntu kurulum ortamı</td>
    
  </tr>
  <tr>
  	<td>Masaüstü Ortamları</td>
    <td>KDE, Xfce, GNOME, LXQt-kwin, Wayfire, Qtile, BSPWM, i3wm ve Sway. Cinnamon ve MATE (topluluk tarafından) ve gelişmiş kullanıcılar için temel sürüm</td>
    <td>XFCE, KDE, GNOME -  Topluluk: Budgie, Cinnamon, Deepin, i3wm, MATE, Sway</td>
    <td>GNOME - Diğer masaüstü ortamları farklı dağıtımlar şeklinde mevcut (örneğin Kubuntu)</td>
  </tr>
</table>