<!--
title: Добро пожаловать!
description: Начальная страница Garuda Linux wiki
published: true
date: 2020-12-12T22:27:15.159Z
tags: home, start
editor: ckeditor
dateCreated: 2020-11-06T11:36:09.003Z
-->

<p>Добро пожаловать в Garuda Linux wiki!</p>
<p>Данная вики создана в дополнение к <a href="https://wiki.archlinux.org">Archwiki</a> со специфичной для Garuda информацией и инструкциями.</p>
<ul>
  <li>Перед установкой<ul>
      <li><a href="https://wiki.garudalinux.org/ru/system-requirements">Системные требования</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/garuda-in-comparison">Чем Garuda отличается от других дистрибутивов</a></li>
    </ul>
  </li>
</ul>
<figure class="image image_resized image-style-align-right" style="width:50.03%;"><img src="/garuda_welcome.png">
  <figcaption>Garuda Приветствие</figcaption>
</figure>
<ul>
  <li>Установка<ul>
      <li><a href="https://wiki.garudalinux.org/ru/installation-instructions">Инструкция по установке</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/live-login-details">Данные для входа</a></li>
    </ul>
  </li>
  <li>Начало использования<ul>
      <li><a href="https://wiki.garudalinux.org/ru/removing-bloat">Удаление ненужных программ</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/post-installation-tasks">Что стоит сделать после установки</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/privacy-guide">Базовые шаги к конфиденциальности в Garuda Linux</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/conky-garuda-lite">Подключаем Conky</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/tap-to-click">Активируем возможность использования щелчка мыши в i3</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/bspwm-cheatsheet">Шпаргалка для BSPWM</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/micro-cheatsheet">Шпаргалка для micro</a></li>
    </ul>
  </li>
  <li>Поддержка системы<ul>
      <li><a href="https://wiki.garudalinux.org/ru/reporting-bugs">Отправка информации об ошибках</a></li>
      <li><a href="https://wiki.garudalinux.org/ru/restoring-snapshots">Восстановление снимков системы</a></li>
    </ul>
  </li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
