<!--
title: Шпаргалка для micro
description: Научитесь стандартным сочетаниям клавиш
published: true
date: 2020-12-12T20:12:52.632Z
tags: шпаргалка, micro
editor: ckeditor
dateCreated: 2020-12-12T20:12:50.674Z
-->

<p><span class="text-huge"><strong>Редактор Micro</strong></span></p>
<p>Micro в Garuda Linux - это редактор текста по умолчанию. В отличие от большинства дистрибутивов в которых обычно используется VI или NANO как стандартный редактор текста, Garuda Linux использует micro потому что он очень дружелюбен для новых пользователей, интуитивный, с красивым пользовательским интерфейсом и легко настраивается.</p>
<p><span class="text-big"><u>Вот стандартные привязки клавиш:</u></span></p>
<blockquote>
  <p><code><strong>“Key”: “Action”</strong></code></p>
  <p><code>"Up": "CursorUp",&nbsp;</code></p>
  <p><code>"Down": "CursorDown",&nbsp;</code></p>
  <p><code>"Right": "CursorRight",&nbsp;</code></p>
  <p><code>"Left": "CursorLeft",&nbsp;</code></p>
  <p><code>"ShiftUp": "SelectUp",&nbsp;</code></p>
  <p><code>"ShiftDown": "SelectDown",&nbsp;</code></p>
  <p><code>"ShiftLeft": "SelectLeft",&nbsp;</code></p>
  <p><code>"ShiftRight": "SelectRight",&nbsp;</code></p>
  <p><code>"AltUp": "MoveLinesUp",&nbsp;</code></p>
  <p><code>"AltDown": "MoveLinesDown",&nbsp;</code></p>
  <p><code>"CtrlShiftRight": "SelectWordRight",&nbsp;</code></p>
  <p><code>"CtrlShiftLeft": "SelectWordLeft",&nbsp;</code></p>
  <p><code>"AltLeft": "StartOfTextToggle",&nbsp;</code></p>
  <p><code>"AltRight": "EndOfLine",&nbsp;</code></p>
  <p><code>"AltShiftLeft": "SelectToStartOfTextToggle",&nbsp;</code></p>
  <p><code>"ShiftHome": "SelectToStartOfTextToggle",&nbsp;</code></p>
  <p><code>"AltShiftRight": "SelectToEndOfLine",&nbsp;</code></p>
  <p><code>"ShiftEnd": "SelectToEndOfLine",&nbsp;</code></p>
  <p><code>"CtrlUp": "CursorStart",&nbsp;</code></p>
  <p><code>"CtrlDown": "CursorEnd",&nbsp;</code></p>
  <p><code>"CtrlShiftUp": "SelectToStart",&nbsp;</code></p>
  <p><code>"CtrlShiftDown": "SelectToEnd",&nbsp;</code></p>
  <p><code>"Alt-{": "ParagraphPrevious",&nbsp;</code></p>
  <p><code>"Alt-}": "ParagraphNext",&nbsp;</code></p>
  <p><code>"Enter": "InsertNewline",&nbsp;</code></p>
  <p><code>"Ctrl-h": "Backspace",&nbsp;</code></p>
  <p><code>"Backspace": "Backspace",&nbsp;</code></p>
  <p><code>"Alt-CtrlH": "DeleteWordLeft",&nbsp;</code></p>
  <p><code>"Alt-Backspace": "DeleteWordLeft",&nbsp;</code></p>
  <p><code>"Tab": "Autocomplete|IndentSelection|InsertTab",&nbsp;</code></p>
  <p><code>"Backtab": "OutdentSelection|OutdentLine",&nbsp;</code></p>
  <p><code>"Ctrl-o": "OpenFile",&nbsp;</code></p>
  <p><code>"Ctrl-s": "Save",&nbsp;</code></p>
  <p><code>"Ctrl-f": "Find",&nbsp;</code></p>
  <p><code>"Ctrl-n": "FindNext",&nbsp;</code></p>
  <p><code>"Ctrl-p": "FindPrevious",&nbsp;</code></p>
  <p><code>"Ctrl-z": "Undo",&nbsp;</code></p>
  <p><code>"Ctrl-y": "Redo",&nbsp;</code></p>
  <p><code>"Ctrl-c": "CopyLine|Copy",&nbsp;</code></p>
  <p><code>"Ctrl-x": "Cut",&nbsp;</code></p>
  <p><code>"Ctrl-k": "CutLine",&nbsp;</code></p>
  <p><code>"Ctrl-d": "DuplicateLine",&nbsp;</code></p>
  <p><code>"Ctrl-v": "Paste",&nbsp;</code></p>
  <p><code>"Ctrl-a": "SelectAll",&nbsp;</code></p>
  <p><code>"Ctrl-t": "AddTab",&nbsp;</code></p>
  <p><code>"Alt-,": "PreviousTab",&nbsp;</code></p>
  <p><code>"Alt-.": "NextTab",&nbsp;</code></p>
  <p><code>"Home": "StartOfText",&nbsp;</code></p>
  <p><code>"End": "EndOfLine",&nbsp;</code></p>
  <p><code>"CtrlHome": "CursorStart",&nbsp;</code></p>
  <p><code>"CtrlEnd": "CursorEnd",&nbsp;</code></p>
  <p><code>"PageUp": "CursorPageUp",&nbsp;</code></p>
  <p><code>"PageDown": "CursorPageDown",&nbsp;</code></p>
  <p><code>"CtrlPageUp": "PreviousTab",&nbsp;</code></p>
  <p><code>"CtrlPageDown": "NextTab",&nbsp;</code></p>
  <p><code>"Ctrl-g": "ToggleHelp",&nbsp;</code></p>
  <p><code>"Alt-g": "ToggleKeyMenu",&nbsp;</code></p>
  <p><code>"Ctrl-r": "ToggleRuler",&nbsp;</code></p>
  <p><code>"Ctrl-l": "command-edit:goto ",&nbsp;</code></p>
  <p><code>"Delete": "Delete",&nbsp;</code></p>
  <p><code>"Ctrl-b": "ShellMode",&nbsp;</code></p>
  <p><code>"Ctrl-q": "Quit",&nbsp;</code></p>
  <p><code>"Ctrl-e": "CommandMode",&nbsp;</code></p>
  <p><code>"Ctrl-w": "NextSplit",&nbsp;</code></p>
  <p><code>"Ctrl-u": "ToggleMacro",&nbsp;</code></p>
  <p><code>"Ctrl-j": "PlayMacro",&nbsp;</code></p>
  <p><code>"Insert": "ToggleOverwriteMode"</code></p>
  <p><code>"MouseWheelUp": "ScrollUp",&nbsp;</code></p>
  <p><code>"MouseWheelDown": "ScrollDown",&nbsp;</code></p>
  <p><code>"MouseLeft": "MousePress",&nbsp;</code></p>
  <p><code>"MouseMiddle": "PastePrimary",&nbsp;</code></p>
  <p><code>"Ctrl-MouseLeft": “MouseMultiCursor”</code></p>
</blockquote>
