<!--
title: Неполные обновления
description: Prevent and mitigate partial upgrades
published: true
date: 2022-02-09T10:05:16.745Z
tags: 
editor: ckeditor
dateCreated: 2022-02-08T22:01:53.847Z
-->

<h2 style="text-align:justify;">Что такое неполное обновление?</h2>
<p style="text-align:justify;">“Неполное обновление” это неподдерживаемая операция, которая происходит тогда, когда была обновлена только часть системы. This can lead to major issues when applications are not built to support older or newer versions of related software.</p>
<p style="text-align:justify;">Problems can range from applications not opening to a broken system, depending on the severity. Garuda Linux ships Garuda system maintenance, which can detect and notify about partial upgrade situations automatically.</p>
<figure class="image image_resized" style="width:21.79%;"><img src="/screenshots/garuda-system-maintenance-partial-tray.png">
  <figcaption>The red, flashing "!" will…</figcaption>
</figure>
<figure class="image image-style-align-left"><img src="/screenshots/garuda-system-maintenance-partial.png">
  <figcaption>…bring up a notification which links to this article and offers a full system update</figcaption>
</figure>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Что может привести к неполному обновлению?</h2>
<p style="text-align:justify;">Partial upgrades happen whenever the "<strong>sync</strong>" database is <strong>updated without applying</strong> any system updates. Then, when a package is installed from the repositories, the system is considered “<strong>partially upgraded</strong>”, because that package may not be intended to be used with your already installed packages.</p>
<p style="text-align:justify;">Partial upgrades happen if you do the following:</p>
<ul>
  <li style="text-align:justify;"><code>pacman -Sy [package name]</code></li>
  <li style="text-align:justify;"><code>pacman -Sy</code> followed by <code>pacman -S [package name]</code> at a later time</li>
  <li style="text-align:justify;"><code>pacman -Syu</code> if not completed successfully (even answering no!), followed by <code>pacman -S [package name]</code> at a later time</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<h2 style="text-align:justify;">Как это исправить?</h2>
<p style="text-align:justify;">Для восстановления частично обновлённой системы до консистентного состояния необходимо произвести полное обвновление системы.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Через терминал</h3>
<p style="text-align:justify;">Разработчики Garuda Linux рекомендуют использовать команду <code>update</code> в терминале для обновления системы.</p>
<p style="text-align:justify;">&nbsp;</p>
<h3 style="text-align:justify;">Через графический интерфейс</h3>
<ul>
  <li style="text-align:justify;">Найдите и запустите<strong> Garuda Assistant </strong>используя меню запуска и введите пароль при запросе.</li>
</ul>
<figure class="image"><img src="/screenshots/garuda-assistant-authorize.png"></figure>
<ul>
  <li style="text-align:justify;">Выберите “<strong>System update</strong>”</li>
</ul>
<figure class="image"><img src="/screenshots/garuda-assistant-update.png"></figure>
<ul>
  <li style="text-align:justify;">Let the pre-update steps complete and then confirm you want to<strong> apply the update</strong></li>
  <li style="text-align:justify;">Подождите завершения обновления</li>
</ul>
<p style="text-align:justify;">&nbsp;</p>
<p style="text-align:justify;">💡 Garuda system maintenance notifies about partial upgrade situations to minimize the risk of accidently partially upgrading the system!</p>
