<!--
title: Восстановление системы в рабочее состояние
description: Научитесь как создавать снимки системы за несколько секунд!
published: true
date: 2020-12-11T19:42:28.916Z
tags: timeshift, снапшоты, снимки, btrfs, восстановление
editor: ckeditor
dateCreated: 2020-12-11T19:42:27.024Z
-->

<p>Использование BTRFS позволяет нам получить доступ к довольно полезным функциям, вроде изображений системы. По умолчанию мы исключаем домашнюю директорию и директорию журнала, поэтому сохраняются только важные части системы. Если у вас возникнут проблемы или плохие обновления вы всегда можете загрузиться в более старое изображение системы (которое создается каждый раз когда система обновляется, что позволяет всегда сохранить вас в безопасности) используя GRUB.</p>
<p>Общий обзор процедуры (<a href="https://www.youtube.com/watch?v=CEBu7KkKdt0">видео</a> показывающее весь процесс также доступно):</p>
<ol>
  <li>Перезагрузитесь</li>
  <li>В GRUB (загрузчике) выберите "timeshift-snapshots" вместо “Garuda Linux” и выберите последнее изображение</li>
  <li>Когда процесс закончится, откройте приложение Timeshift с помощью стартового меню, оно запросит root-права.</li>
  <li>Выберите последнее изображение и нажмите “Восстановить”, находящееся в верхнем левом углу окна приложения</li>
  <li>Перезагрузитесь и наслаждайтесь своей рабочей системой</li>
</ol>
<p>Если последнее изображение не работает попробуйте более старое.</p>
<figure class="image"><img src="/timeshift-ru.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><u>Восстановление используя терминал или tty</u></strong></p>
<p><u>Примечание:</u> Введите Ctrl + Alt + {F1,F2,F3,F4,F5,F6} чтобы войти в TTY. TTY очень полезен когда вы не можете авторизоваться графически.</p>
<p>1. Введите <code>sudo timeshift --restore</code> в вашем терминале или TTY.</p>
<p>2. Выберите дату и время для восстановления. Каждое изображение Timeshift соответствует номеру, введите этот номер чтобы выбрать изображение.</p>
<p>3. Потдвердите восстановление нажав ENTER.</p>
<figure class="image"><img src="https://wiki.garudalinux.org/timeshift-restore-tui.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
